openapi: 3.2.0
info:
  title: Chimoney MultiCurrency Wallets API
  description: Chimoney is a developer-first global payouts and disbursement platform with deep coverage across Africa and 130+ countries.
  version: 0.2.2
  contact:
    name: Chimoney
    url: https://chimoney.io
servers:
- url: https://api.chimoney.io
  description: Production (v0.2)
- url: https://api-v2-sandbox.chimoney.io
  description: Sandbox (v0.2)
security:
- apiKeyAuth: []
tags:
- name: MultiCurrency Wallets
  description: Create and manage multicurrency wallets and transfer between them.
paths:
  /v0.2/multicurrency-wallets/create:
    post:
      operationId: post_v0.2_multicurrency-wallets_create
      tags:
      - MultiCurrency Wallets
      summary: Create a new Multicurrency Wallet
      description: Create a new Multicurrency Wallet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  example: Mide Jones
                email:
                  type: string
                  example: user@example.com
                firstName:
                  type: string
                lastName:
                  type: string
                phoneNumber:
                  type: string
                  example: '+16471234567'
                meta:
                  type: object
                  description: Metadata to store about the account.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/multicurrency-wallets/get:
    get:
      operationId: get_v0.2_multicurrency-wallets_get
      tags:
      - MultiCurrency Wallets
      summary: Get details of an existing multicurrency wallet
      description: Get details of an existing multicurrency wallet.
      parameters:
      - name: id
        in: query
        required: true
        description: Multicurrency wallet ID.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/multicurrency-wallets/list:
    get:
      operationId: get_v0.2_multicurrency-wallets_list
      tags:
      - MultiCurrency Wallets
      summary: Get all multicurrency wallets of an organization/account
      description: Get all multicurrency wallets of an organization/account.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/multicurrency-wallets/update:
    post:
      operationId: post_v0.2_multicurrency-wallets_update
      tags:
      - MultiCurrency Wallets
      summary: Update a multicurrency-wallets
      description: Update a multicurrency-wallets.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/multicurrency-wallets/transfer:
    post:
      operationId: post_v0.2_multicurrency-wallets_transfer
      tags:
      - MultiCurrency Wallets
      summary: Transfer from multicurrency wallet to another wallet, an email or a phone number
      description: Transfer from multicurrency wallet to another wallet, an email or a phone number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                walletID:
                  type: string
                receiver:
                  type: string
                  description: Destination wallet ID, email, or phone number.
                amountToSend:
                  type: number
                currency:
                  type: string
                  example: USD
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/multicurrency-wallets/transfer/quote:
    post:
      operationId: post_v0.2_multicurrency-wallets_transfer_quote
      tags:
      - MultiCurrency Wallets
      summary: Get Quote to Transfer between multicurrency wallets
      description: Get Quote to Transfer between multicurrency wallets.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardResponse'
  schemas:
    StandardResponse:
      type: object
      description: Standard Chimoney response envelope.
      properties:
        status:
          type: string
          description: '"success" or "error".'
          example: success
        message:
          type: string
        data:
          description: Endpoint-specific payload.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key issued from the Chimoney developer dashboard (https://dash.chimoney.io/developers), passed in the X-API-KEY request header.
