openapi: 3.0.3
info:
  title: Chimoney Account SubAccount API
  description: 'Chimoney is a developer-first global payouts and disbursement platform with deep coverage across Africa and 130+ countries. The REST API sends money to bank accounts, mobile money wallets, airtime, gift cards, Chimoney wallets, and Interledger wallet addresses; manages multicurrency wallets and sub-accounts; supports redemption, payment collection, and informational lookups (banks, assets, exchange rates). All requests are authenticated with an API key passed in the X-API-KEY header, issued from the Chimoney developer dashboard (dash.chimoney.io/developers). A separate sandbox host is available for testing. This is a curated, representative subset of the live OpenAPI (source: https://api.chimoney.io/v0.2/swagger.json, spec version 0.2.2); paths, methods, and summaries are grounded in that document. Request-body schemas are representative and simplified for the most common endpoints - consult the official docs for the full field set.'
  version: 0.2.2
  contact:
    name: Chimoney
    url: https://chimoney.io
servers:
- url: https://api.chimoney.io
  description: Production (v0.2)
- url: https://api-v2-sandbox.chimoney.io
  description: Sandbox (v0.2)
security:
- apiKeyAuth: []
tags:
- name: SubAccount
  description: Create and manage sub-accounts (wallet accounts) and communities under your organization.
paths:
  /v0.2/sub-account/create:
    post:
      operationId: post_v0.2_sub-account_create
      tags:
      - SubAccount
      summary: Create a new sub-account.
      description: Create a new sub-account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  example: Mide Jones
                email:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                phoneNumber:
                  type: string
                  example: '+16471234567'
                meta:
                  type: object
                id:
                  type: string
                  description: Optional valid UUID for the user.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/sub-account/get:
    get:
      operationId: get_v0.2_sub-account_get
      tags:
      - SubAccount
      summary: Get details of an existing sub account.
      description: Get details of an existing sub account.
      parameters:
      - name: id
        in: query
        required: true
        description: Sub account ID.
        schema:
          type: string
      - name: communityID
        in: query
        required: false
        description: Community ID.
        schema:
          type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/sub-account/list:
    get:
      operationId: get_v0.2_sub-account_list
      tags:
      - SubAccount
      summary: Get all sub-accounts associated with a user.
      description: Get all sub-accounts associated with a user.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/sub-account/update:
    post:
      operationId: post_v0.2_sub-account_update
      tags:
      - SubAccount
      summary: Update a sub-account.
      description: Update a sub-account.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/sub-account/delete:
    delete:
      operationId: delete_v0.2_sub-account_delete
      tags:
      - SubAccount
      summary: Delete an existing sub-account.
      description: Delete an existing sub-account.
      parameters:
      - name: id
        in: query
        required: true
        description: Sub account ID.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/sub-account/community/create:
    post:
      operationId: post_v0.2_sub-account_community_create
      tags:
      - SubAccount
      summary: Create a sub-account community associated with a user.
      description: Create a sub-account community associated with a user.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/sub-account/community/members:
    get:
      operationId: get_v0.2_sub-account_community_members
      tags:
      - SubAccount
      summary: Get community members .
      description: Get community members .
      parameters:
      - name: communityID
        in: query
        required: false
        description: Community ID
        schema:
          type: integer
      - name: limit
        in: query
        required: false
        description: maximum number of users to return - default is 50
        schema:
          type: integer
      - name: startAfterId
        in: query
        required: false
        description: ID of the last User Data retrieved - important for retrieivng subsequent pages
        schema:
          type: string
      - name: startBeforeId
        in: query
        required: false
        description: ID of the first User Data retrieved - important for retrieivng previous pages
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    StandardResponse:
      type: object
      description: Standard Chimoney response envelope.
      properties:
        status:
          type: string
          description: '"success" or "error".'
          example: success
        message:
          type: string
        data:
          description: Endpoint-specific payload.
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardResponse'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key issued from the Chimoney developer dashboard (https://dash.chimoney.io/developers), passed in the X-API-KEY request header.
