openapi: 3.0.3
info:
  title: Chimoney Account API
  description: 'Chimoney is a developer-first global payouts and disbursement platform with deep coverage across Africa and 130+ countries. The REST API sends money to bank accounts, mobile money wallets, airtime, gift cards, Chimoney wallets, and Interledger wallet addresses; manages multicurrency wallets and sub-accounts; supports redemption, payment collection, and informational lookups (banks, assets, exchange rates). All requests are authenticated with an API key passed in the X-API-KEY header, issued from the Chimoney developer dashboard (dash.chimoney.io/developers). A separate sandbox host is available for testing. This is a curated, representative subset of the live OpenAPI (source: https://api.chimoney.io/v0.2/swagger.json, spec version 0.2.2); paths, methods, and summaries are grounded in that document. Request-body schemas are representative and simplified for the most common endpoints - consult the official docs for the full field set.'
  version: 0.2.2
  contact:
    name: Chimoney
    url: https://chimoney.io
servers:
- url: https://api.chimoney.io
  description: Production (v0.2)
- url: https://api-v2-sandbox.chimoney.io
  description: Sandbox (v0.2)
security:
- apiKeyAuth: []
tags:
- name: Account
  description: Retrieve transactions, public profiles, transfer between accounts, and issue wallet addresses.
paths:
  /v0.2/accounts/transactions:
    post:
      operationId: post_v0.2_accounts_transactions
      tags:
      - Account
      summary: Get all transactions by account.
      description: Get all transactions by account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subAccount:
                  type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/accounts/transaction:
    post:
      operationId: post_v0.2_accounts_transaction
      tags:
      - Account
      summary: Get single transaction detail.
      description: Get single transaction detail.
      parameters:
      - name: id
        in: query
        required: true
        description: Transaction id.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: Transaction ID.
                subAccount:
                  type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/accounts/issue-id-transactions:
    post:
      operationId: post_v0.2_accounts_issue-id-transactions
      tags:
      - Account
      summary: Get transaction details by issueID.
      description: Get transaction details by issueID.
      parameters:
      - name: issueID
        in: query
        required: true
        description: IssueID of the transaction.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/accounts/public-profile:
    post:
      operationId: post_v0.2_accounts_public-profile
      tags:
      - Account
      summary: Get Public profile of a Chimoney User.
      description: Get Public profile of a Chimoney User.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/accounts/transfer:
    post:
      operationId: post_v0.2_accounts_transfer
      tags:
      - Account
      summary: Account Transfer.
      description: Account Transfer.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/accounts/delete-unpaid-transaction:
    delete:
      operationId: delete_v0.2_accounts_delete-unpaid-transaction
      tags:
      - Account
      summary: Deletes an unpaid transaction.
      description: Deletes an unpaid transaction.
      parameters:
      - name: chiRef
        in: query
        required: true
        description: Transaction reference.
        schema:
          type: string
      - name: subAccount
        in: query
        required: false
        description: SubAccount if any.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/accounts/issue-wallet-address:
    post:
      operationId: post_v0.2_accounts_issue-wallet-address
      tags:
      - Account
      summary: Issue an Interledger wallet address for a user
      description: Issue an Interledger wallet address for a user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    StandardResponse:
      type: object
      description: Standard Chimoney response envelope.
      properties:
        status:
          type: string
          description: '"success" or "error".'
          example: success
        message:
          type: string
        data:
          description: Endpoint-specific payload.
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardResponse'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key issued from the Chimoney developer dashboard (https://dash.chimoney.io/developers), passed in the X-API-KEY request header.
