openapi: 3.0.3
info:
  title: Chimoney Account Wallet API
  description: 'Chimoney is a developer-first global payouts and disbursement platform with deep coverage across Africa and 130+ countries. The REST API sends money to bank accounts, mobile money wallets, airtime, gift cards, Chimoney wallets, and Interledger wallet addresses; manages multicurrency wallets and sub-accounts; supports redemption, payment collection, and informational lookups (banks, assets, exchange rates). All requests are authenticated with an API key passed in the X-API-KEY header, issued from the Chimoney developer dashboard (dash.chimoney.io/developers). A separate sandbox host is available for testing. This is a curated, representative subset of the live OpenAPI (source: https://api.chimoney.io/v0.2/swagger.json, spec version 0.2.2); paths, methods, and summaries are grounded in that document. Request-body schemas are representative and simplified for the most common endpoints - consult the official docs for the full field set.'
  version: 0.2.2
  contact:
    name: Chimoney
    url: https://chimoney.io
servers:
- url: https://api.chimoney.io
  description: Production (v0.2)
- url: https://api-v2-sandbox.chimoney.io
  description: Sandbox (v0.2)
security:
- apiKeyAuth: []
tags:
- name: Wallet
  description: List, look up, and transfer between Chimoney wallets.
paths:
  /v0.2/wallets/list:
    post:
      operationId: post_v0.2_wallets_list
      tags:
      - Wallet
      summary: List associated wallets.
      description: List associated wallets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subAccount:
                  type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/wallets/lookup:
    post:
      operationId: post_v0.2_wallets_lookup
      tags:
      - Wallet
      summary: Get single wallet details.
      description: Get single wallet details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - walletID
              properties:
                walletID:
                  type: string
                subAccount:
                  type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/wallets/transfer:
    post:
      operationId: post_v0.2_wallets_transfer
      tags:
      - Wallet
      summary: Transfer between wallets.
      description: Transfer between wallets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - receiver
              - valueInUSD
              properties:
                subAccount:
                  type: string
                receiver:
                  type: string
                  description: Valid Chimoney user or organization ID.
                wallet:
                  type: string
                  description: Wallet type. One of ["chi","momo","airtime"]. Leave blank unless you understand wallet types.
                  example: chi
                valueInUSD:
                  type: number
                  example: 200
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    StandardResponse:
      type: object
      description: Standard Chimoney response envelope.
      properties:
        status:
          type: string
          description: '"success" or "error".'
          example: success
        message:
          type: string
        data:
          description: Endpoint-specific payload.
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardResponse'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key issued from the Chimoney developer dashboard (https://dash.chimoney.io/developers), passed in the X-API-KEY request header.
