openapi: 3.0.3
info:
  title: Chimoney Account Redeem API
  description: 'Chimoney is a developer-first global payouts and disbursement platform with deep coverage across Africa and 130+ countries. The REST API sends money to bank accounts, mobile money wallets, airtime, gift cards, Chimoney wallets, and Interledger wallet addresses; manages multicurrency wallets and sub-accounts; supports redemption, payment collection, and informational lookups (banks, assets, exchange rates). All requests are authenticated with an API key passed in the X-API-KEY header, issued from the Chimoney developer dashboard (dash.chimoney.io/developers). A separate sandbox host is available for testing. This is a curated, representative subset of the live OpenAPI (source: https://api.chimoney.io/v0.2/swagger.json, spec version 0.2.2); paths, methods, and summaries are grounded in that document. Request-body schemas are representative and simplified for the most common endpoints - consult the official docs for the full field set.'
  version: 0.2.2
  contact:
    name: Chimoney
    url: https://chimoney.io
servers:
- url: https://api.chimoney.io
  description: Production (v0.2)
- url: https://api-v2-sandbox.chimoney.io
  description: Sandbox (v0.2)
security:
- apiKeyAuth: []
tags:
- name: Redeem
  description: Redeem issued Chimoney, airtime, gift cards, and mobile money.
paths:
  /v0.2/redeem/any:
    post:
      operationId: post_v0.2_redeem_any
      tags:
      - Redeem
      summary: Redeem any.
      description: Redeem any.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/redeem/chimoney:
    post:
      operationId: post_v0.2_redeem_chimoney
      tags:
      - Redeem
      summary: Redeem Chimoney.
      description: Redeem Chimoney.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - chiRef
              properties:
                chiRef:
                  type: string
                  description: Chimoney reference to redeem.
                subAccount:
                  type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/redeem/airtime:
    post:
      operationId: post_v0.2_redeem_airtime
      tags:
      - Redeem
      summary: Redeem airtime.
      description: Redeem airtime.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/redeem/gift-card:
    post:
      operationId: post_v0.2_redeem_gift-card
      tags:
      - Redeem
      summary: Redeem giftcard.
      description: Redeem giftcard.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v0.2/redeem/mobile-money:
    post:
      operationId: post_v0.2_redeem_mobile-money
      tags:
      - Redeem
      summary: Redeem mobile money.
      description: Redeem mobile money.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    StandardResponse:
      type: object
      description: Standard Chimoney response envelope.
      properties:
        status:
          type: string
          description: '"success" or "error".'
          example: success
        message:
          type: string
        data:
          description: Endpoint-specific payload.
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardResponse'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key issued from the Chimoney developer dashboard (https://dash.chimoney.io/developers), passed in the X-API-KEY request header.
